div.screen {
    width: 360px;
    height: 90px;
    background-color: white;
    color: black;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    border-style: solid;
    border-width: 1px;
    border-color: coral;
    font-weight: bold;
    transition: .5s;
    padding: 0px 20px;
    font-size: 25px;
}