.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 120px;
  left: 0;
  right: 0;
  z-index: 6;
  position: absolute;

  .main {
    height: 90vh;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 80%;
    margin: 25px auto;

    .container {
      width: 100%;

      .row {
        .title-container {
          height: 15vh;
          min-height: 100%;
          background-size: cover;
          display: flex;
          justify-content: center;
          text-align: center;
          color: #000;

          div {
            h1 {
              margin-top: 25px;
              font-size: 40px;
              letter-spacing: 2px;
              line-height: 1.3;
            }

            h3 {
              margin-top: 5px;
              font-style: italic;
              font-weight: 100;
              letter-spacing: 1px;
              line-height: 1.5;
            }
          }
        }

        .form-container {
          background-color: #2c3e50;
          height: 70vh;
          padding-top: 50px;
          padding-left: 50px;

          form {
            margin-top: 50px;
            input[type="text"] {
              background-color: transparent;
              border: 0;
              border-bottom: solid 1px #f16051;
              width: 30%;
              padding-bottom: 4px;
              color: #fff !important;
              font-weight: lighter;
              letter-spacing: 2px;
              margin-bottom: 30px;
              margin-right: 20px;
              font-size: 20px;
              outline: none;

              &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
                -webkit-text-fill-color: #fff !important;
              }
            }

            button.form-button {
              border: 0;
              padding: 8px 20px;
              margin: 0 2px;
              border-radius: 2px;
              font-weight: lighter;
              letter-spacing: 1px;
              font-size: 15px;
              cursor: pointer;
              background-color: #f16051;
              color: #fff;
              font-weight: 100;

              &:active {
                outline: none;
              }

              &:hover {
                cursor: pointer;
              }
            }
          }

          div.weatherInfo {
            width: 60%;
            font-size: 20px;
            font-weight: 200;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}

.weatherKey {
  color: #f16051;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weatherKey:last-child {
  border: 0;
}

.weatherValue {
  color: #fff;
  font-weight: 200;
}

.weatherError {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}